<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "genparams.html" . -}}
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
  <meta charset="utf-8">
  <title >{{ .Scratch.Get "page_title" }}</title>
  {{- block "meta" . }}
  {{ partial "head/meta.html" . }}
  {{- end }}
  {{ partial "head/ogp/facebook.html" . }}
  {{ partial "head/ogp/twitter.html" . }}
  {{- block "link" . }}
  {{ partial "head/link/link.html" . }}
  {{- end }}
</head>
<body>
  <textarea id="source">
    {{- .RawContent -}}
  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/1.2.0/trianglify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML&delayStartupUntil=configured" type="text/javascript"></script>
  <script>
    //リサイズ時の処理を定義
    (function () {
      var timer = 0;

      window.onresize = function () {
        if (timer > 0) {
          clearTimeout(timer);
        }

        timer = setTimeout(function () {
          refreshBG();
        }, 200);
      };
    }());

    function refreshBG() {
      var titlepage = document.getElementsByClassName('remark-slide-content')[0];
      var pagesize = titlepage.getBoundingClientRect();
      var background = Trianglify({
        width: Math.ceil(pagesize.width),
        height: Math.ceil(pagesize.height),
        cell_size: 35,
        x_colors: ['#326de6', '#3677e7', '#3f91ee', '#51b9f6', '#6beaff'],
      });
      var svg = background.svg();
      svg.setAttribute("xmlns", "http://www.w3.org/2000/svg");
      titlepage.style.backgroundImage = "url('data:image/svg+xml;utf8," + svg.outerHTML + "')";
      titlepage.style.backgroundSize = "cover";
    }

    var slideshow = remark.create({
      ratio: '16:9',
      navigation: {
        scroll: true,
        touch: true,
        click: false
      },
      slideNumberFormat: function (current, total) {
          return current + ' / ' + total;
      },
      countIncrementalSlides: true,
      highlightLanguage: 'no-highlight',
      highlightStyle: 'hybrid',
      highlightLines: true,
      highlightSpans: false
    }, function(slide){
      refreshBG();
    });

    // Setup MathJax
    MathJax.Hub.Config({
        tex2jax: {
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
        }
    });

    MathJax.Hub.Configured();
  </script>
</body>
</html>
