# vim
*.swp
*.un~

# Artifacts
layouts/partials/head/amp/css/
public/
static/assets/
static/en/sw.js
static/ja/sw.js

# hugo
.hugo_build.lock
hugo_stats.json
resources/_gen

# node
node_modules/

# yarn zero-installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
