.site-footer {
  background-color: var(--colorBar);
  color: white;
  padding: 30px;
  margin-top: auto;

  & p {
    padding: 10px 0;
  }

  & .privacy-policy {
    text-align: center;
    font-size: 12px;
  }

  & .copyright {
    text-align: center;
  }
}
