#sidebar {
  background: linear-gradient(var(--colorBar) 80%, var(--colorPrimary) 105%);

  & ul {
    margin: 50px 0;
  }

  & a {
    display: block;
    width: 100px;
    padding: 25px 50px;
    color: white;
    font-size: 26px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
