article.single .article-body table {
    border-radius: 0;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.04), 0 0 0 1px #E8E8E8 inset;
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;
    border-spacing: 0;
    background: none repeat scroll 0 0 #FFF;
}
article.single .article-body table thead {
    background: none repeat scroll 0 0 #298CC3;
    color: #FFFFFF;
}
article.single .article-body table thead th {
    padding: 10px 15px;
}
article.single .article-body table tbody td {
    border-bottom: 1px solid #E8E8E8;
    padding: 9px 15px;
}
article.single .article-body table tbody tr td {
    transition: background-color 0.3s ease 0s;
}
article.single .article-body table tbody tr:nth-child(2n+1) td {
    background: none repeat scroll 0 0 #F7F7F7;
}
article.single .article-body table tbody tr:hover td {
	background: none repeat scroll 0 0 #EBF6F7;
}
