<!DOCTYPE html>
<html ⚡ lang="{{ .Lang }}">
  {{ partial "genparams.html" . -}}
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title >{{ block "title" . }}
      {{- if .IsHome }}
      {{- .Site.Title }}
      {{- else }}
      {{- .Title }} - {{ .Site.Title }}
      {{- end }}
    {{- end }}</title>

    {{ block "meta" . }}
      {{ partial "head/meta.html" . }}
    {{ end }}

    {{ partial "head/ogp/facebook.html" . }}
    {{ partial "head/ogp/twitter.html" . }}

    {{ block "link" . }}
      {{ partial "head/link/link.html" . }}
    {{ end }}

    {{ partial "head/amp/style.html" . }}
    {{ partial "head/amp/scripts.html" . }}
  </head>
  <body>
    <amp-sidebar id="sidebar" layout="nodisplay" side="left">
      <nav>
        {{ partial "menu_part.html" .Site.Menus.main }}
      </nav>
    </amp-sidebar>
    <amp-image-lightbox id="lightbox" layout="nodisplay"></amp-image-lightbox>
    <div id="body-container" class="flex flex-column">
      {{ block "header" . }}
        {{ partial "header.html" . }}
      {{ end }}
      {{ block "main" . }}
      {{ end }}
      {{ block "footer" . }}
        {{ partial "footer.html" . }}
      {{ end }}
    </div>
  </body>
</html>
