<!DOCTYPE html>
<html ⚡ lang="{{ .Lang }}">
  {{ partial "genparams.html" . -}}
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
    <meta charset="utf-8">
    {{ partial "head/amp/main.html" . }}
    <title >{{ .Scratch.Get "page_title" }}</title>
    {{- block "meta" . }}
    {{ partial "head/meta.html" . }}
    {{- end }}
    {{ partial "head/ogp/facebook.html" . }}
    {{ partial "head/ogp/twitter.html" . }}
    {{- block "link" . }}
    {{ partial "head/link/link.html" . }}
    {{- end }}
    {{ partial "head/amp/style.html" . }}
    {{ partial "head/amp/components.html" . }}
  </head>
  <body>
    <div id="body-container" class="flex flex-column">
      {{- block "header" . }}
      {{ partial "header.html" . }}
      {{- end }}
      {{- block "main" . }}
      {{- end }}
      {{- block "footer" . }}
      {{ partial "footer.html" . }}
      {{- end }}
    </div>
    <amp-sidebar id="sidebar" layout="nodisplay" side="left">
      <nav>
      {{ partial "menu_part.html" . }}
      </nav>
    </amp-sidebar>
    {{- block "amp-component" . }}
    {{- end }}
    {{- if .Site.Params.googleAnalytics }}
    {{ partial "googleanalytics.html" . }}
    {{- end }}
    <amp-install-serviceworker
        src="{{ absURL "/sw/sw.js" }}"
        data-iframe-src="{{ absURL "/sw/sw.html" }}"
        layout="nodisplay">
    </amp-install-serviceworker>
    <script type="application/ld+json">
      {{- block "json+ld" . }}
      {{- end }}
    </script>
  </body>
</html>
