{{ define "json+ld" }}
{{- if .IsHome }}
{{ partial "jsonld/website.json" . | safeHTML }}
{{- else }}
{{ partial "jsonld/collectionpage.json" . | safeHTML }}
{{- end }}
{{ end }}

{{ define "main" }}
<div class="main-wrapper list">
  <main class="flex flex-column">
    <section class="flex posts">
      {{- $paginator := .Paginator }}
      {{- range $paginator.Pages }}
      {{- partial "genparams.html" . }}
      {{- .Render "card" }}
      {{- else }}
      {{- T "noContentMsg" }}
      {{- end }}
      {{- partial "genparams.html" . }}
    </section>
    <footer class="flex">
      {{ partial "pagination.html" $paginator }}
    </footer>
  </main>
</div>
{{ end }}
