{{ define "title" }}
{{ .Site.Title }}
{{ end }}

{{ define "ogp_facebook" }}
{{ partial "head/ogp/facebook/page.html" . }}
{{ end }}

{{ define "ogp_twitter" }}
{{ partial "head/ogp/twitter/page.html" . }}
{{ end }}

{{ define "link" }}
{{ partial "head/link/link.html" . }}
{{ with .Params.pager }}
{{ partial "head/link/pager.html" . }}
{{ end }}
{{ end }}


{{ define "main" }}
<main>
  <div class="flex article-wrapper">
    <article class="flex flex-column single">
      <header class="flex flex-column">
        {{ partial "content/header.html" . }}
        {{ partial "content/social-button.html" . }}
        {{ partial "content/floating-social-button.html" . }}
      </header>
      <div class="content">
        {{ .Content }}
      </div>
      <footer class="flex flex-column">
        {{ partial "content/footer.html" . }}
      </footer>
    </article>
    <aside class="toc">
      {{ .TableOfContents }}
    </aside>
  </div>
</main>
{{ end }}
