
{{ define "title" }}
  {{ .Site.Title }}
{{ end }}

{{ define "link" }}
  {{ partial "head/link/link.html" . }}
  {{ partial "head/link/pager.html" . }}
{{ end }}

{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ range (.Paginator 5).Pages }}
          <p>{{ .Data }}</p>
  {{ end }}
  <ul>
  {{ $data := .Data }}
  {{ range $key, $value := .Data.Terms.ByCount }}
      <li><a href="{{ $.Site.LanguagePrefix }}/{{ $data.Plural }}/{{ $value.Name | urlize }}"> {{ $value.Name }} </a> {{ $value.Count }} </li>
  {{ end }}
  </ul>

{{ end }}
