<meta property="twitter:card" content="{{ .Site.Params.twitter.card_type }}">
<meta property="twitter:site:id" content="{{ .Site.Params.twitter.uid }}">
<meta property="twitter:creator:id" content="{{ .Site.Params.twitter.uid }}">
{{ with .Description }}
  <meta property="twitter:description" content="{{ . }}">
{{ end }}

{{ if .Params.thumbnail }}
  <meta property="twitter:image" content="{{ .Permalink }}{{ .Params.thumbnail }}">

  {{ if .Params.thumbalt }}
    <meta property="twitter:image:alt" content="{{ .Params.thumbalt }}">
  {{ end }}
{{ end }}
