{{ define "title" }}
  {{ .Site.Title }}
{{ end }}


{{ define "main" }}
<div id="background-image">
  {{ range .Resources.Match "backpic-*" }}
  <amp-img
      src="{{ .RelPermalink }}"
      alt="background-image"
      class="backpic"
      layout="responsive"
      width="{{ .Width }}"
      height="{{ .Height }}"
      {{ if false }}srcset="{{ .RelPermalink }} {{ .Width }}w{{ with .Scratch.Get "img_set" }}{{ range . }},{{ .RelPermalink }} {{ .Width }}w{{ end }}{{ end }}"{{ end }}
  >
  </amp-img>
  {{ end }}
</div>
<main id="about">
{{ .Content }}
</main>
{{ end }}
