{{ define "amp-component" }}
<amp-animation id="nav-cur-anim" layout="nodisplay">
  <script type="application/json">
    {
      "duration": "300",
      "fill": "both",
      "easing": "ease-in-out",
      "direction": "alternate",
      "animations": [
        {
          "selector": ".navigation-cursor",
          "keyframes": {
            "transform": ["translateY(-80%)", "translateY(0)"],
            "opacity": [0, 1]
          }
        }
      ]
    }
  </script>
</amp-animation>
{{ end }}

{{ define "main" }}
<div class="background-image">
  {{ range .Resources.Match "backpic-*" }}
  <amp-img
      src="{{ .RelPermalink }}"
      alt="background-image"
      layout="responsive"
      width="{{ .Width }}"
      height="{{ .Height }}"
      {{ if false }}srcset="{{ .RelPermalink }} {{ .Width }}w{{ with .Scratch.Get "img_set" }}{{ range . }},{{ .RelPermalink }} {{ .Width }}w{{ end }}{{ end }}"{{ end }}
  >
  </amp-img>
  {{ end }}
</div>
<div class="background-cover"></div>
<div class="navigation-cursor flex flex-center">
  <span class="lbar"></span>
  <span class="rbar"></span>
</div>
<div class="pos-observe">
  <amp-position-observer
      intersection-ratios="1"
      on="enter:nav-cur-anim.start;exit:nav-cur-anim.start,nav-cur-anim.reverse"
      layout="nodisplay">
  </amp-position-observer>
</div>
<main id="about">
  <section class="profile flex flex-center flex-column">
    <div class="profile-main">
      {{ with .Resources.GetMatch "profile-img" }}
      <amp-img
          class="{{ .Name }}"
          src="{{ .RelPermalink }}"
          alt="profile-image"
          layout="responsive"
          width="{{ .Width }}"
          height="{{ .Height }}">
      </amp-img>
      {{ end }}
      <h1 class="name">{{ .Site.Author.name }}</h1>
    </div>
    <div class="sns flex flex-center">
    <a class="twitter" href="#"><span></span></a>
    <a class="facebook" href="#"><span></span></a>
    <a class="gplus" href="#"><span></span></a>
    <a class="linkedin" href="#"><span></span></a>
    <a class="instagram" href="#"><span></span></a>
    <a class="email" href="#"><span></span></a>
  </div>
  </section>
  <section class="about-content">
    {{ .Content }}
  </section>
</main>
{{ end }}

{{ define "footer" }}
<footer></footer>
{{ end }}
