<div class="main-header">
  <div class="header-thumbnail">
    {{ with .Scratch.Get "page_thumb" }}
    <amp-img src="{{ .RelPermalink }}"
             width="{{ .Width }}"
             height="{{ .Height }}"
             layout="responsive"
             class="thumbnail">
    </amp-img>
    {{ else }}
    <amp-img src="/images/default.jpg"
             width="960"
             height="540"
             layout="responsive"
             class="thumbnail">
    </amp-img>
    {{ end }}
  </div>
  <div class="header-info flex flex-column">
    <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    <aside class="flex">
      <div class="flex flex-column">
        <div class="flex taxonomy-wrapper">
          <i class="material-icons md-18 info-prefix">folder</i>
          <ul class="flex taxonomy category">
            <li class="{{ .CurrentSection.Params.category_color_class }}"><a href="{{ .CurrentSection.Permalink }}">{{ .CurrentSection.Title }}</a></li>
          </ul>
        </div>
        <div class="flex taxonomy-wrapper">
          {{ with .Params.tags }}
          <i class="material-icons md-18 info-prefix">local_offer</i>
          <ul class="flex taxonomy tag">
            {{ range . }}
            <li><a href="{{ $.Site.LanguagePrefix }}/tags/{{ . }}/">{{ . }}</a></li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
      <ul class="flex flex-column dateinfo-wrapper">
        <li class="flex publish-date">
          <i class="material-icons md-18 info-prefix">event_note</i>
          {{ .PublishDate.Format .Site.Params.dateFormat  }}
        </li>
        <li class="flex lastmod-date">
          <i class="material-icons md-18 info-prefix">create</i>
          {{ .Lastmod.Format .Site.Params.dateFormat }}
        </li>
      </ul>
    </aside>
  </div>
</div>