<ul class="flex social-share mobile">
  <li>
    <amp-social-share type="twitter" aria-label="Twitter"></amp-social-share>
  </li>
  <li>
    <amp-social-share
        type="facebook"
        aria-label="Facebook"
        data-param-app_id="{{ .Site.Params.facebook.appid }}">
    </amp-social-share>
  </li>
  <li>
    <amp-social-share type="gplus" aria-label="Google+"></amp-social-share>
  </li>
  <li>
  {{ $canonical_page := default . (.OutputFormats.Get "HTML") }}
    <amp-social-share
        type="hatena"
        aria-label="Hatena Bookmark"
        data-share-endpoint="http://b.hatena.ne.jp/entry/{{ $canonical_page.Permalink }}">
    </amp-social-share>
  </li>
  <li>
    <amp-social-share type="pinterest"  aria-label="Pinterest"></amp-social-share>
  </li>
  <li>
    <amp-social-share
        type="pocket"
        aria-label="Pocket"
        data-share-endpoint="https://getpocket.com/edit?url=SOURCE_URL">
    </amp-social-share>
  </li>
  <li>
    <amp-social-share
        type="feedly"
        aria-label="Feedly"
        data-share-endpoint="https://feedly.com/i/subscription/feed/{{ absLangURL "/index.xml" }}">
    </amp-social-share>
  </li>
  <li class="hide">
    <amp-social-share type="system"></amp-social-share>
  </li>
</ul>
