{{ $page := . }}
{{ $pageTitle := printf "%s - %s" .Title .Site.Title }}
{{- if .IsHome }}
{{/* Home Page */}}
{{- .Scratch.Set "page_title"      .Site.Title }}
{{- .Scratch.Set "page_desc"       .Site.Params.description }}
{{- .Scratch.Set "page_thumb_alt"  .Site.Title }}
{{- else }}
{{- if .IsPage }}
{{- if eq .CurrentSection.Name "Slide" }}
{{/* Slide Page */}}
{{- .Scratch.Set "page_title"      $pageTitle }}
{{- .Scratch.Set "page_desc"       .Title }}
{{- with .Resources.GetMatch "thumbnail" }}
{{- $page.Scratch.Set "page_thumb" . }}
{{- end }}
{{- .Scratch.Set "page_thumb_alt"  .Title }}
{{- .Scratch.Set "page_robots"     "nosnippet" }}
{{- else }}
{{/* Post and About Page */}}
{{- .Scratch.Set "page_title"      $pageTitle }}
{{- if .Truncated }}
{{- .Scratch.Set "page_desc"       (printf "%s ..." .Summary) }}
{{- else }}
{{- .Scratch.Set "page_desc"       .Summary }}
{{- end }}
{{- with .Resources.GetMatch "thumbnail" }}
{{- $page.Scratch.Set "page_thumb" . }}
{{- end }}
{{- .Scratch.Set "page_thumb_alt"  .Title }}
{{- end }}
{{- else }}
{{/* Etc... */}}
{{- .Scratch.Set "page_title"      $pageTitle }}
{{- .Scratch.Set "page_desc"       .Site.Params.description }}
{{- with .Resources.GetMatch "thumbnail" }}
{{- $page.Scratch.Set "page_thumb" . }}
{{- end }}
{{- .Scratch.Set "page_thumb_alt"  $pageTitle }}
{{- .Scratch.Set "page_robots"     "noindex" }}
{{- end }}
{{- end }}
