<header class="site-header flex">
  <button class="menu-btn" on="tap:sidebar.toggle"><span class="bar"></span><span class="bar"></span><span class="bar"></span></button>
  <h1><a href="{{ absLangURL "" }}">{{ .Site.Title }}</a></h1>
  {{- if eq .Kind "404" | or .IsHome | not }}
  <ul class="breadcrumb flex">
    {{- if .IsPage }}
    {{- $main_tag := index .Params.tags 0 }}
    <li><a href="{{ .CurrentSection.RelPermalink}}">{{ .CurrentSection.Name }}</a></li>
    <li class="capitalize"><a href="{{ printf "/tags/%s/" $main_tag | absLangURL }}">{{ $main_tag }}</a></li>
    {{- else }}{{ if eq .Kind "taxonomy" }}
    <li class="capitalize"><a href="{{ printf "/%s/" .Data.Plural | absLangURL }}">{{ .Data.Plural }}</a></li>
    {{- end }}
    <li><a href="{{ .RelPermalink }}">{{ .Name }}</a></li>
    {{- end }}
  </ul>
  {{- end }}
</header>
