article {
  width: 100%;
  min-width: 320px;
}

@media (--desktop) {
  article {
    border: solid 1px var(--colorDivider);
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);

    &.single {
      max-width: 1200px;
    }
  }
}

@media (--lt-desktop) {
  article.single {
    flex-direction: column;
  }
}

