{{ with index .Site.Author "page" }}
  <link rel="author" href="{{ absLangURL . }}">
{{ end }}

{{ range .Translations}}
  <link rel="alternate" href="{{ .Permalink }}" hreflang="{{ .Lang }}">
{{ end }}
{{ range .AlternativeOutputFormats }}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}">
{{ end }}
{{ with .OutputFormats.Get "HTML" }}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}">
{{ end }}
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosansjp.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
