{{- with index .Site.Author "page" }}
<link rel="author" href="{{ absLangURL . }}">
{{- end }}

{{- range .Translations}}
<link rel="alternate" href="{{ .Permalink }}" hreflang="{{ .Lang }}">
{{- end }}
{{- range .AlternativeOutputFormats }}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}">
{{- end }}
{{- with .OutputFormats.Get "HTML" }}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}">
{{- end }}
{{- $img := .Site.GetPage "section" "img" }}
{{ with $img.Resources.GetMatch "favicon-ico" }}
<link rel="shortcut icon" type="image/x-icon" href="{{ .Permalink }}">
{{- end }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjp.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
