.flex {
    display: flex;
}

.flex.flex-column {
    flex-direction: column;
}

.hide {
    display: none;
}

body {
    font-family: 'Noto Sans JP', system-ui;
    font-weight: 400;
    font-size: var(--fontBaseSize);
    color: var(--colorPrimaryText);
}
main {
    margin: 0 5px;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: color-mod(var(--colorPrimaryText) alpha(-0.1));
}