
body {
  font-family: 'Noto Sans JP', system-ui;
  font-weight: 400;
  font-size: var(--fontBaseSize);
  color: var(--colorPrimaryText);
}

.main-wrapper {
  max-width: 1200px;
  margin: 50px auto;
}

main {
  margin: 0 80px;
  border: solid 1px var(--colorDivider);
  border-radius: 5px;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.4));

  padding: 20px;
  background-color: white;
}
