.site-menu {
  margin: 0 20px;
  height: 100%;

}

.site-menu ul {
  list-style-type: none;
  height: 100%;
}

.site-menu > ul > li {
  margin: 0 10px;
  position: relative;
}

.site-menu ul li:hover > .sub-menu {
  display: flex;
}

.site-menu .sub-menu {
  flex-direction: column;
  background-color: #60cfff;
  position: absolute;
  padding: 0 auto;
  width: 100%;
  display: none;
}

.site-menu .sub-menu li {
  text-align: center;
}
