<meta property="og:title" content="{{ .Scratch.Get "page_title" }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:description" content="{{ .Scratch.Get "page_desc" }}">
<meta property="og:locale" content="{{ .Site.Params.locale }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
{{ with .Scratch.Get "page_thumb" -}}
<meta property="og:image:url" content="{{ .Permalink }}">
{{ else -}}
<meta property="og:image:url" content="{{ absURL .Site.Params.siteThumbnail }}">
{{ end -}}
<meta property="og:image:alt" content="{{ .Scratch.Get "page_thumb_alt" }}">
{{ if .IsPage -}}
<meta property="og:type" content="article">
<meta property="og:updated_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}">
<meta property="article:author" content="{{ .Site.Params.facebook.uid }}">
<meta property="article:content_tier" content="free">
<meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }}">
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}">
{{ if ne (time "0001-01-01T00:00:00+00:00").Unix .ExpiryDate.Unix -}}
<meta property="article:expiration_time" content="{{ .ExpiryDate.Format "2006-01-02T15:04:05-07:00" }}">
{{ end -}}
<meta property="article:section" content="{{ .CurrentSection.Name }}">
{{ range .Params.tags -}}
<meta property="article:tag" content="{{ . }}">
{{ end -}}
{{ else -}}
<meta property="og:type" content="website">
<meta property="og:updated_time" content="{{ .Site.LastChange.Format "2006-01-02T15:04:05-07:00" }}">
{{ end -}}

<meta property="fb:app_id" content="{{ .Site.Params.facebook.appid }}">
<meta property="fb:profile_id" content="{{ .Site.Params.facebook.uid }}">
