{{- .Get "name" | .Page.Resources.GetMatch | .Scratch.Set "buf" }}
{{- $img := .Scratch.Get "buf" }}
{{- .Scratch.Delete "img_set" }}
{{- if gt $img.Width 425 }}
{{- $img.Resize "425x" | slice | .Scratch.Add "img_set" }}
{{- end }}
{{- if gt $img.Width 1024 }}
{{- $img.Resize "1024x" | slice | .Scratch.Add "img_set" }}
{{- end }}
{{- if gt $img.Width 1440 }}
{{- $img.Resize "1440x" | slice | .Scratch.Add "img_set" }}
{{- end }}
<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
  {{ with .Get "link"}}<a href="{{.}}">{{ end }}
    <amp-img
      on="tap:lightbox"
      role="button"
      src="{{ $img.RelPermalink }}"
      class="img-{{ .Get "size" | default "large" }}"
      alt="{{ if or (.Get "alt") (.Get "caption") }}{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}{{ else }}{{ $img.Name }}{{ end }}"
      aria-label="{{ if or (.Get "alt") (.Get "caption") }}{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}{{ else }}{{ $img.Name }}{{ end }}"
      layout="responsive"
      width="{{ $img.Width }}"
      height="{{ $img.Height }}"
      srcset="{{ $img.RelPermalink }} {{ $img.Width }}w{{ with .Scratch.Get "img_set" }}{{ range . }},{{ .RelPermalink }} {{ .Width }}w{{ end }}{{ end }}"
      tabindex>
    </amp-img>
  {{ if .Get "link"}}</a>{{ end }}
{{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
<figcaption>{{ if isset .Params "title" }}
  <h4>{{ .Get "title" }}</h4>{{ end }}
  {{ if or (.Get "caption") (.Get "attr")}}<p>
    {{ .Get "caption" }}
    {{ with .Get "attrlink"}}<a href="{{.}}"> {{ end }}
    {{ .Get "attr" }}
    {{ if .Get "attrlink"}}</a> {{ end }}
  </p> {{ end }}
</figcaption>
{{ end }}
</figure>
